<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../bower_components/angular-bindonce/bindonce.js"></script>
  <script type="text/javascript" src="../bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="../bower_components/moment-range/lib/moment-range.js"></script>
  <script type="text/javascript" src="../build/angular-date-range-picker.js"></script>
  <script type="text/javascript">
    angular.module("testapp", ["dateRangePicker"])
    angular.module("testapp").controller("TestCtrl", function($scope){
      $scope.range = moment().range("2012-11-05", "2013-01-25")

      $scope.change = function(){
        $scope.range2 = moment().range("2012-11-15", "2012-12-25")
      }

      $scope.fireCallback = function(range) {
        console.log(range);
      };

      $scope.date = null
    })
    angular.module("testapp").run(function($templateCache){
      $templateCache.put('custom_picker.html', '<div ng-show="visible" class="angular-date-range-picker__picker" ><strong>Greetings from custom picker template</strong></div>');
      $templateCache.put('custom_input.html', '<span tabindex="0" ng-keydown="hide()" class="angular-date-range-picker__input">Custom picker {{ model.start.format("ll") }} - {{ model.end.format("ll") }}</span>');

    });
  </script>
  <link rel="stylesheet" type="text/css" href="../build/angular-date-range-picker.css"/>
  <style type="text/css">
    * {
      font-size: 10px;
      font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;;
    }
  </style>
</head>
<body ng-app="testapp">
  <div ng-controller="TestCtrl">
    <div>
      <h1>Date range picker</h1>
      <date-range-picker ng-model="range"></date-range-picker>
      <pre>{{ range.start.toDate() }} - {{ range.end.toDate() }}</pre>
      <date-range-picker ng-model="range2" ranged="true" callback="fireCallback(range2)"></date-range-picker>
      <button ng-click="change()">Change</button>
    </div>
    <div>
      <h1>Simple date picker</h1>
      <date-range-picker ng-model="date" ranged="false"></date-range-picker>
    </div>
    <div>
      <h1>Custom picker template</h1>
      <date-range-picker ng-model="anotherDate" picker-template-url="'custom_picker.html'"></date-range-picker>
    </div>

    <div>
      <h1>Custom input template</h1>
      <date-range-picker ng-model="anotherDate" input-template-url="'custom_input.html'"></date-range-picker>
    </div>
    <div>
      <h1>Custom input template and picker</h1>
      <date-range-picker ng-model="anotherDate" input-template-url="'custom_input.html'" picker-template-url="'custom_picker.html'"></date-range-picker>
    </div>
  </div>
</body>
</html>
