.DS_Store
/node_modules
*.map

/bower_components/angular/*
!/bower_components/angular/angular.js

/bower_components/angular-bindonce/*
!/bower_components/angular-bindonce/bindonce.js

/bower_components/moment-range/*
!/bower_components/moment-range/lib
!/bower_components/moment-range/lib/moment-range.js

/bower_components/moment/*
!/bower_components/moment/moment.js

/bower_components/prismjs/*
!/bower_components/prismjs/prism.js
!/bower_components/prismjs/prism.css

/bower_components/angular-date-range-picker/*
!/bower_components/angular-date-range-picker/build
/bower_components/angular-date-range-picker/build/*
!/bower_components/angular-date-range-picker/build/angular-date-range-picker.js
!/bower_components/angular-date-range-picker/build/angular-date-range-picker.css

