<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-bindonce/bindonce.js"></script>
  <script type="text/javascript" src="bower_components/moment/moment.js"></script>
  <script type="text/javascript" src="bower_components/moment-range/lib/moment-range.js"></script>
  <script type="text/javascript" src="bower_components/angular-date-range-picker/build/angular-date-range-picker.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/angular-date-range-picker/build/angular-date-range-picker.css"/>
  <script type="text/javascript">
    angular.module("testapp", ["dateRangePicker"])
    angular.module("testapp").controller("TestCtrl", function($scope){
      $scope.range = moment().range("2012-11-05", "2013-01-25")

      $scope.change = function(){
        $scope.range2 = moment().range("2012-11-15", "2012-12-25")
      }
    })
  </script>
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;;
    }
    .main {
      width: 600px;
      margin: auto;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="bower_components/prismjs/prism.css"/>
</head>
<body ng-app="testapp">
  <div class="main" ng-controller="TestCtrl">
    <h1>angular date range picker</h1>
    <a href="https://github.com/monterail/angular-date-range-picker">GitHub</a>
    <h2>Basic usage</h3>
    <pre><code class="language-javascript">angular.module("testapp", ["dateRangePicker"])</code></pre>

    <pre><code class="language-javascript">angular.module("testapp").controller("TestCtrl", function($scope){
  $scope.range = moment().range("2012-11-05", "2013-01-25")
}</code></pre>

    <pre><code class="language-markup">&lt;date-range-picker ng-model="range"&gt;&lt;/date-range-picker&gt;</code></pre>

    <date-range-picker ng-model="range"></date-range-picker>
  </div>

  <script type="text/javascript" src="bower_components/prismjs/prism.js"></script>
</body>
</html>
